body {
    font-family: Arial;
    padding: 20px;
    background-color: #f4f4f4;
}

nav a {
    text-decoration: none;
    margin-right: 10px;
    color: #333;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
}
body {
    background-color: #f9f9f9;
}
